@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

html, body {
  overflow: hidden; /* Prevent scrolling */
  height: 100%; /* Ensure the body takes up the full height */
  background-color: #fff;
}


:root {
  --background-color:linear-gradient(to right, #f83600 0%, #f9d423 100%);
  --bs-primary-rgb: #12296c;
}

 .video-container {
            max-width: 900px;
            max-height: 450px;
            margin: auto;
            position: fixed; /* Keeps it on top */
            top: 40%; /* Adjust position */
            left: 50%;
            transform: translateX(-50%);
            z-index: 1050; /* High z-index to stay above other elements */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

     


        
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo
{
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-start;
  text-align: start;
}
.img-fluid {
  max-width: 120%;
  height: 180%;
  max-height: 300%;
  position: relative;
left: 150px;
  margin-top: -180px;
}


.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 80%;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}



@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

.home-title {
  position: flex;
  white-space: inherit;
  left: -80px;
  top: 160px;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 0;
}

.auto-typed{
  white-space: nowrap;
}

   



.login-button {
  display: inline-block;
  padding: 15px 85px;
  margin: 5px;
  text-decoration: none;
  color: white;
  background-color:#FFA500;
  border: none;
  top: 200px;
  left: -250px;
  text-align: center;
  z-index: 2; /* Ensure the button is above the video */
  position: relative;
}


.fs-4.mb-4 {
  position: relative;
  text-align: left;
  z-index: 2; /* Ensure the text is above the video */
  font-weight: 300;
  font-size: 16px !important; 
  font-family: 'Poppins', sans-serif; 
   left: -80px;
  top: 170px;
  color: rgb(0, 0, 0); 
}
.sub-title{
  position: relative;
  text-align: left;
  z-index: 2; /* Ensure the text is above the video */
  font-weight: bold;
  font-size: 28px !important; 
  font-family: 'Poppins', sans-serif; 
   left: -80px;
  top: 170px;
  color:#D891EF;

}

.login-button a {
  color: white;
  text-decoration: none;
}


.login-button:hover{
  
  background-color:#000;
}
